


<body>
    <toast style="position:absolute;right:5px"></toast>

    <div >
        <div ng-init="getAllFirmwares()">
            <h2>Config ID</h2>
            <p></p>
        </div>

        <div >
            <h2></h2>
     
            <div >
                <input type="file" id="file" name="file" multiple />

                <input type="button" ng-click="" value="Upload" />

                <!--ADD A PROGRESS BAR ELEMENT.-->
                <p><progress id="pro" value="0"></progress></p>
            </div>

        </div>
    </div>
</body>
