<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

    .listing {
        display: block;
    }

        .listing:hover {
            background-color: #1e90ff;
        }

    #table {
        background-color: whitesmoke;
        border-color: black;
        border-width: thick;
        border-style: double;
    }

    table {
        background-color: whitesmoke;
        border-color: black;
        border-width: medium;
        border-style: double;
    }

    .textbox {
        background: #CDC1C5;
        color: black;
        width: 200px;
        padding: 6px 15px 6px 35px;
        border-radius: 20px;
        box-shadow: 0 1px 0 #ccc inset;
        transition: 500ms all ease;
        outline: 0;
    }

        .textbox:hover {
            width: 270px;
        }


    th {
        text-align: left;
    }

    .button {
        display: inline-block;
        margin: 0 auto;
        -webkit-border-radius: 10px;
        -webkit-box-shadow: 0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1), 0px 5px rgba(108,108,108,1), 0px 6px rgba(98,98,98,1), 0px 7px rgba(88,88,88,1), 0px 8px rgba(78,78,78,1), 0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
        -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    }

        .button span {
            background-color: #E8E8E8;
            background-image:
            /* gloss gradient */
            -webkit-gradient( linear, left bottom, left top, color-stop(50%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.2))),
            /* dark outside gradient */
            -webkit-gradient( linear, left top, right top, color-stop(0%,rgba(210,210,210,0.3)), color-stop(20%,rgba(210,210,210,0)), color-stop(80%,rgba(210,210,210,0)), color-stop(100%,rgba(210,210,210,0.3))),
            /* light inner gradient */
            -webkit-gradient( linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.5)), color-stop(80%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))),
            /* diagonal line pattern */
            -webkit-gradient( linear, 0% 100%, 100% 0%, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0)), color-stop(40%,#D2D2D1), color-stop(60%,#D2D2D1), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
            -webkit-box-shadow: 0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
            -webkit-background-size: 100%, 100%, 100%, 4px 4px;
            -webkit-border-radius: 10px;
            -webkit-transition: -webkit-transform .1s ease-in-out;
            display: inline-block;
            padding: 10px 40px 10px 40px;
            color: #3A474D;
            text-transform: uppercase;
            font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
            font-weight: 700;
            font-size: 32px;
            text-shadow: 0px 1px #fff, 0px -1px #262F33;
        }

            .button span:hover {
                color: #AEBF3B;
                text-shadow: 0px -1px #97A63A;
                cursor: pointer;
            }

        .button:active {
            -webkit-box-shadow: 0px 3px rgba(128,128,128,1), 0px 4px rgba(118,118,118,1), 0px 5px rgba(108,108,108,1), 0px 6px rgba(98,98,98,1), 0px 7px rgba(88,88,88,1), 0px 8px rgba(78,78,78,1), 0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

            .button:active span {
                -webkit-transform: translate(0, 5px); /* depth of button press */
            }

        .button span:after {
            content: ">";
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 14px;
            top: 12px;
            font-family: 'Cabin';
            font-weight: 700;
            color: #AEBF3B;
            text-shadow: 0px 1px #fff, 0px -1px #97A63A;
            font-size: 26px;
        }
</style>

<body>
    <toast style="position:absolute;right:5px"></toast>
    <div ng-init="getAllSystems()" style="width:200px">
        <h2>System Id</h2>

        <table>
            <tr ng-repeat="data in RetrievedData1">
                <td ng-click="showSystem($index)"><a>{{data.Sysid}}</a></td>
            </tr>
        </table>
    </div>

    <div style="position:absolute;left:200px;top:20px">
        <svg width="20" height="1000">
            <rect x="0" y="0" width="1" height="2000"
                  style="fill:rgb(0,0,255);stroke-width:1;stroke:rgb(139, 131, 134)" />
            Sorry, your browser does not support inline SVG.
        </svg>
    </div>
    <div style="position:absolute;top:20px;left:300px" ng-show="RetrievedSystem">
        <div ng-hide="post" class="table">

            <table cellpadding="5" cellspacing="5" align="left" class="table table-bordered" id="table">
                <tr>
                    <th>PROPERTY MODEL</th>
                    <th colspan="2">PROPERTY VALUE</th>
                </tr>
                <tr>
                    <th>SYSTEM ID </th>
                    <td colspan="2">{{System_id}}</td>
                </tr>
                <tr>
                    <th>SYSTEM NAME</th>
                    <td colspan="2"><input type="text" ng-model="System_Name" value="" disabled class="textbox" id="rem1" /></td>
                </tr>
                <tr>
                    <th>SYSTEM LOCATION</th>
                    <td colspan="2"><input type="text" ng-model="System_Location" value="" disabled class="textbox" id="rem2" /></td>
                </tr>
                <tr>
                    <th>SITE ID</th>
                    <td colspan="2"><input type="text" ng-model="Site_Id" value="" disabled class="textbox" id="rem3" /></td>
                </tr>
                <tr>
                    <th>ACCOUNT ID</th>
                    <td colspan="2"><input type="text" ng-model="Account_Id" value="" disabled class="textbox" id="rem4" /></td>
                </tr>
                <tr>
                    <th>DEVICE ID</th>
                    <td ng-show="update" colspan="2">
                        <select class="textbox" ng-click="showCheckboxes()">
                            <option>Select an option</option>
                        </select>
                        <br />
                        <label for="one" class="listing" ng-repeat="data in RetrievedDevices" ng-show="list">
                            <input type="checkbox" ng-model="RetrievedDevices[$index].isChecked" id="one" />{{data.deviceId}}
                        </label>
                    </td>
                    <td ng-hide="update" colspan="2">
                        <select ng-model="Device_Identity" ng-options="data for data in Device_Identity " colspan="2" class="textbox"></select>
                    </td>
                </tr>
                <!--<td  ng-hide="update"><select ng-model="Device_Identity" ng-options="data for data in Device_Identity "></select></td>
                <td ng-show="update" colspan="2">
                    <select>
                        <option ng-click="showCheckboxes()">Select an option</option>
                    </select>
                    <br/>
                    <label for="one" class="listing" ng-repeat="data in Device_Identity">
                        <input type="checkbox" id="one" />{{data}}
                    </label>
                </td>-->




                <tr ng-hide="update">
                    <td><input type="submit" name="name" value="CREATE" class="button" ng-click="postClicked()" /></td>
                    <td> <input type="submit" name="name" value="UPDATE" class="button" ng-click="updateClicked()" /></td>
                    <td><input type="submit" name="name" value="DELETE" class="button" ng-click="deleteSystem()" /></td>
                </tr>
                <tr ng-show="update">
                    <td> <input type="submit" name="name" value="Post" class="button" ng-click="updateSystem()" /></td>
                    <td><input type="submit" name="name" value="Cancel" class="button" ng-click="reset()" /></td>
                </tr>
            </table>
        </div>
        <div ng-show="post">
            <table cellpadding="5" cellspacing="5" align="left" class="table table-bordered" id="table">
                <tr>
                    <th>PROPERTY NAME</th>
                    <th colspan="2">PROPERTY VALUE</th>
                </tr>
                <tr>
                    <th>SYSTEM ID</th>
                    <td colspan="2">{{System_id}}</td>
                </tr>
                <tr>
                    <th>SYSTEM NAME</th>
                    <td colspan="2"><input type="text" ng-model="System_Name" value="" class="textbox" /></td>
                </tr>
                <tr>
                    <th>SYSTEM LOCATION</th>
                    <td colspan="2"><input type="text" ng-model="System_Location" value="" class="textbox" /></td>
                </tr>
                <tr>
                    <th>SITE ID</th>
                    <td colspan="2"><input type="text" ng-model="Site_Id" value="" class="textbox" /></td>
                </tr>
                <tr>
                    <th>ACCOUNT ID</th>
                    <td colspan="2"><input type="text" ng-model="Account_Id" value="" class="textbox" /></td>
                </tr>
                <tr>
                    <th>DEVICE ID</th>
                    <td colspan="2">
                        <select class="textbox" ng-click="showCheckboxes()">
                            <option>Select an option</option>
                        </select>
                        <br />
                        <label for="one" class="listing" ng-repeat="data in RetrievedDevices" ng-show="list">
                            <input type="checkbox" ng-model="RetrievedDevices[$index].isChecked" id="one" />{{data.deviceId}}
                        </label>
                    </td>
                </tr>

                <tr>
                    <td> <input type="submit" name="name" value="Post" class="button" ng-click="createSystem()" /></td>
                    <td colspan="2"> <input type="submit" name="name" value="Cancel" class="button" ng-click="reset()" /></td>

                </tr>
            </table>

        </div>
    </div>
</body>
